In [ ]:
# Condition Equal

a = 5
a == 6

False

In [ ]:
# Greater than sign

i = 6
i > 5

True

In [ ]:
i = 2
i > 5

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:
"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare Characters
"B" > "A"

True

In [ ]:
"BA" > "AB"

True

In [ ]:
"ba" >= "ba"

True

In [ ]:
# If statement example

# Age = 19
age = 18

# Expression that can be true of false
if age > 18:

  # Within an indent, we have the expression that is run if the condition is true
  print("You can enter")

# The statements after the if statement will run regadless if the condition is true or false
print("Move on")

Move on

In [ ]:
# Else Statement example

# Age = 17
age = 19

if age > 18:
  print("You can enter")
else:
  print("Go see Meat Loaf")
  # Print (" Move on")

print("Move on")

You can enter
Move on

In [ ]:
# Elif statement example

age = 18

if age > 18:
  print("You can Enter")
elif age == 18:
  print("Go see Pink Floyd")
else:
  print("Go see Meat Loaf")

print("Move on")

Go see Pink Floyd
Move on

In [ ]:
# Condition statement example

album_year = 1983
# Album Year = 1970

if album_year > 1980:
  print("Album year is Greater than 1980")

print("Do Something...")

Album year is Greater than 1980
Do Something...

In [ ]:
# Condition statement example

# Album Year = 1983
album_year = 1970

if album_year > 1980:
  print("Album year is Greater than 1980")
else:
  print("Less than 1980")

print("Do something....")

Less than 1980
Do something....

In [ ]:
# Condition Statement Example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
  print("Album year was in between 1980 and 1989")

print("")
print("Do Stuff.....")

Album year was in between 1980 and 1989

Do Stuff.....

In [ ]:
# COndition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
  print("Album was not made in the 1980's")
else:
  print("The Album was made in the 1980's")

Album was not made in the 1980's

In [ ]:
# Condition statement example

album_year = 1984

if not (album_year == "1984"):
  print("Album year is not 1984")

Album year is not 1984

#   QUIZ ON CONDITION

In [ ]:
# QUIZ

album_BiB = 8.5

if(album_BiB > 8) or (album_BiB < 8):
  print("This Album is Amazing")
else:
  print("This Album is ok")

This Album is Amazing

In [ ]:
album = 1980

if(album > 1991) or (album < 1993):
  print("Year =", album)

Year = 1980