# **WEEK 2**

In [8]:
# String

#print("Hello, Pythin 102!")
#print("Hello, Python 101!")

"Hello Python 102!"
#"Hello, Python 101!"

'Hello Python 102!'

In [1]:
# Interger

11

11

In [3]:
# Float

2.14

2.14

In [4]:
# String

#print("Hello, Pythin 102!")
#print("Hello, Python 101!")

"Hello Python 102!"
#"Hello, Python 101!"

'Hello Python 102!'

In [5]:
# Type of 12

type(12)

int

In [ ]:
# Type of 2.14

type(2.14)

float

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Write your code below. Dont't forget to press Shift+Enter to execute the cell
type(12.0)

float

# **INTEGERS**

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
type(-6)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 6

type(6)

int

# **FLOAT**

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [ ]:
# Print the type of 0.5

type (0.5)

float

In [6]:
# Print the type of 0.56

type(0.56)

float

In [7]:
# System settings anbout float type

import sys # it is needes to declare the library "sys" before using it

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Verify that this is an integer

type(2)

int

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [ ]:
# Convert a string into an integer

int('1')

1

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert an integer to a string

str(1)

'1'

In [ ]:
# Convert an float to a string

str(1.2)

'1.2'

# **BOOLEAN**

In [ ]:
# Value True

True

True

In [ ]:
# Value False

False

False

In [ ]:
# Type of True

type(True)

bool

In [ ]:
# Type of False

type(False)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 1 to boolean

bool(1)

True

In [ ]:
# Convert 0 to boolean

bool(0)

False

In [ ]:
# Convert True to float

float(True)

1.0

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

In [ ]:
# Addition operation expression

# 43 + 60 + 16 + 41

type(10.55+10.5-5)

float

In [ ]:
# Subtraction operation expression

type(50-60)

int

In [ ]:
# Multiplication operation expression

5 * 5

25

In [ ]:
# Divison operation expression

25 / 5

5.0

In [ ]:
# Divison operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
# Integer division operation expression

25 // 6

4

In [ ]:
# Exercise Expression

160 / 60

2.6666666666666665

In [ ]:
# Mathematical Expression

30 + 2 * 60 // 10

42

In [ ]:
# Mathematical Expression

(30 + 2) * 60

1920

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
# Print out the value in variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
# Use another variable to store the result of the operation between variable an value

y = x / 60
y

2.6666666666666665

In [ ]:
# Overwrite variable with new value

x = x / 60
print(x)

2.6666666666666665

In [ ]:
x

2.6666666666666665

In [ ]:
# Name the variable meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
float(total_min)

142.0

In [ ]:
a = 2
a

2

In [ ]:
print(float(a))

2.0

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [ ]:
# Complicate Expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hours

2.3666666666666667

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

x = 3 + 2 * 2
x

7

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

y = (3 + 2) * 2
y

10

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

z = x + y
z

17

# **WEEKLY EXERCISE 2 // 1.1**

In [ ]:
# Weekly Exercise

Panjang = 20.5
Lebar = 25
Tinggi = 10

Keliling = 2 * (Panjang + Lebar)
Luas = Panjang * Lebar
Volume = Panjang * Lebar * Tinggi

print('Panjang   =',Panjang)
print('Lebar     =',Lebar)
print('Tinggi    =',Tinggi)
print('Keliling  =',Keliling)
print('Luas      =',Luas)
print('Volume    =',Volume)

Panjang   = 20.5
Lebar     = 25
Tinggi    = 10
Keliling  = 91.0
Luas      = 512.5
Volume    = 5125.0

In [ ]:
# Weekly Exercise 2

#Rata Rata nilai Shafira pada kedua mata kuliah
KS = 85
MSS = 75
Rata = (KS + MSS) / 2
print('Rata-Rata Nilai Shafira =',Rata)

Rata-Rata Nilai Shafira = 80.0

In [ ]:
# Jumlah Nilai Hanif dan Andi untuk semua mata kuliah
KH = 75
MSH = 90
KA = 70
MSA = 75

Jumlah = (KH + MSH + KA + MSA)
print('Jumlah Nilai Hanif dan Andi =',Jumlah)

Jumlah Nilai Hanif dan Andi = 310

# **WEEKLY EXERCISE // 1.2**

In [ ]:
# Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing masing kuliah
# Kalkulus
KW    = 85
KD    = 85
KHi   = 80
KN    = 95

# Metode Statistika
MSW   = 85
MSD   = 85
MSHi  = 75
MSN   = 80

# Rata Rata Nilai
Widya = (KW + MSW)/2
Dhanar = (KD + MSD)/2
Hikmah = (KHi + MSHi)/2
Nedia = (KN + MSN)/2

print('Rata-Rata Nilai Widya  =',Widya)
print('Rata-Rata Nilai Dhanar =',Dhanar)
print('Rata-Rata Nilai Hikmah =',Hikmah)
print('Rata-Rata Nilai Nedia  =',Nedia)

Rata-Rata Nilai Widya  = 85.0
Rata-Rata Nilai Dhanar = 85.0
Rata-Rata Nilai Hikmah = 77.5
Rata-Rata Nilai Nedia  = 87.5

In [ ]:
# Rata-rata nilai mata kuliah Kalkulus 1 untuk semua Mahasiswa
# Kalkulus
KS = 85
KAm = 80
KAd = 75
KN = 95
KW = 85
KH = 75
KA = 70
KD = 85
KHi = 80
# Rata Rata
Rata = (KS + KAm + KAd + KN + KW + KH + KA + KD + KHi)/9
print('Rata Rata Nilai Kalkulus 1 Semua Mahasiswa =',Rata)

Rata Rata Nilai Kalkulus 1 Semua Mahasiswa = 81.11111111111111

In [ ]:
# Rata Rata nilai kuliah Metode Statistika untuk semua Mahasiswa

# Nilai Metode Statistika
MSS = 75
MSAm = 90
MSAd = 80
MSN = 80
MSW = 85
MSH = 90
MSAn = 75
MSD = 85
MSHi = 75

# Rata Rata Semua Maha Siswa

Rata = (MSS + MSAm + MSAd + MSN + MSW + MSH + MSAn + MSD + MSHi) / 9
print('Rata Rata Nilai Metode Statistika Semua Mahasiswa =',Rata)

Rata Rata Nilai Metode Statistika Semua Mahasiswa = 81.66666666666667

# **WEEKLY EXERCISE // 1.3**

In [ ]:
# Menampilkan sebuah gaji seorang karyawan pabrik swasta

# Data yang ada
Agustus = 31
BekerjaSehari = 8
UpahPerjam = 30000

# Gaji Pada bulan Agustus jika Dwi tidak masuk kerja selama 3 har, berapa gaji yang di terima oleh dwi
Agustus = 31
BekerjaSehari = 8
UpahPerjam = 30000

Gaji = ((Agustus-3) * BekerjaSehari * UpahPerjam)
print('Gaji Dwi Sebulan =',Gaji)

Gaji Dwi Sebulan = 6720000

In [ ]:
# Tunjangan Pada setiap gajian 10%

# Data yang ada
Tunjangan = 10/100
GajiAgustus = 6720000

# Gaji seluruhnya
Gaji = (GajiAgustus * Tunjangan) + (GajiAgustus)
print('Total Seluruh Gaji Dwi dengan Tunjangan =',Gaji)

Total Seluruh Gaji Dwi dengan Tunjangan = 7392000.0

In [ ]:
# Mendapatkan Tugas Lembur selama 5 Jam

# Data yang ada
GajiP = 30000 # P = Perjam
GajiL = 10000 # L = Lembur
Lembur = 5
BekerjaSehari = 8
Agustus = 31
Libur = 3
Tunjangan = 10/100

# Gaji Total 1 Bulan Agustus


GajiATTL = ((Agustus - Libur) * BekerjaSehari * GajiP) # ATTL = Awal Tanpa Tunjangan Lembur
GajiTunjangan = ((GajiATTL * Tunjangan) + GajiATTL)
GajiLembur = (Agustus - Libur) * ((BekerjaSehari * GajiP) + (Lembur * GajiL))
GajiSeluruh = ((GajiLembur * Tunjangan) + GajiLembur)

print('Gaji Awal Tanpa Tunjangan Lembur           = ',GajiATTL)
print('Gaji Dwi Plus Tunjangan                    = ',GajiTunjangan)
print('Gaji Dwi Plus Lembur                       = ',GajiLembur)
print('Gaji Seluruh Dwi plus Tunjangan dan Lembur = ',GajiSeluruh)

Gaji Awal Tanpa Tunjangan Lembur           =  6720000
Gaji Dwi Plus Tunjangan                    =  7392000.0
Gaji Dwi Plus Lembur                       =  8120000
Gaji Seluruh Dwi plus Tunjangan dan Lembur =  8932000.0

UNIVERSITAS TIDAR